<div style="margin:30px;">
  <div fxLayout="column" fxLayoutAlign="space-between center" [ngClass]="{'hide':loader}">
    <h3 style="font-size: 12px;" fxFlex="24" fxFlex.md="47" fxFlex.xs ="100">SELECCIONE MÉTODO DE PAGO:</h3>
    <button mat-stroked-button (click)="openMercadoPagoCheckOut()" fxFlex="24" fxFlex.md="47" fxFlex.xs ="100" style="color:black; font-size: 12px;">Mercado Pago o Efectivo</button>
  </div>
  <!--<div [ngClass]="{'hide':!loader}">
    <div fxLayoutAlign="center center">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>-->
</div>
