<div class="bg-mentor">
  <div class="login-wrapper">
    <div class="contents">
      <app-payment-method
        style="width: 100%;"
        [total]="total"
        [user_id]="user_id"
        [codigodscto]="codigodscto"
        [upgrade]="upgrade"></app-payment-method>
    </div>
  </div>
</div>
