.bg-mentor {
  background-image: url('~src/assets/wall.jpg');
  width: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .login-wrapper{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    z-index:10;
    .contents {
      height: fit-content;
      min-width: 400px;
      margin: auto;
      overflow-y: auto;
      background: #ffffffb3;
      border-radius: 1rem;
      @media only screen and (max-width: 580px){
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        background: rgba(248, 248, 248, 0.24);
        margin: inherit;
        display: flex;
        place-content: center;
      }
      .image-content {
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
      .form-content{
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        padding: 0.5rem;
        .title-is{
          font-family: var(--font_Primario);
          padding-top: .5rem;
          padding-bottom: .5rem;
          line-height: 2rem;
          font-size: 1.125rem;
          font-weight: 800;
          color: var(--colorSecondary);
        }
        form{
          flex-direction: column;
          box-sizing: border-box;
          display: flex;
          place-content: center;
          align-items: center;
          min-width: 85%;
        }
        .btn-login{
          width: 100%;
          padding: .5rem 0;
          margin: auto;
          font-family: 'Sora', sans-serif;
          border-radius: .7rem;
          font-size: var(--sizeButon);
          font-weight: 700;
          border: var(--colorPrimary) solid .2rem;
          background: var(--colorPrimary);
          color: #ffffff;
          cursor: pointer;
        }
        .btn-login:disabled{
          border: var(--colorPrimaryLight) solid 1px;
          background: var(--colorPrimaryLight);
          color: var(--colorSecondary);
          cursor: no-drop;
        }
        .forgot-password{
          width: 100%;
          color: #77AFC5;
          text-align: right;
          padding-top: .5rem;
          padding-bottom: .5rem;
          font-size: .75rem;
          line-height: 1rem;
          font-weight: 200;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}


.img-logo {
  margin: 2rem;
  width: 6rem;
  height: 6rem;
}

.w-full {
  width: 100%;
}

:root{
  --font_Primario:'Sora', sans-serif;
  --font_Success:'Poppins', sans-serif;
  --blancoLetra:#FFFFFF;
  --colorLetra:#263A44;
  --coloFooter:#2A2A39;
  --coLetraDorado:#DBCF8A;
  --coLetraDoradohover:#F6E894;
  --colorIngenium: #9B004C;
  --colorIngeniumOff: #C74970;
  --colorIngeniumHover: #CC0064;
  --colorBackgroundCards: #F7F8F8;
}
