.mat-dialog-container {
  padding: 0px;
}
.srcl{
  text-align: center;
  max-height: 200px !important;
  overflow-y: scroll;
}
.desaprobado{
  color: red;
}
.pendiente{
  color: #ff9d00;
}
.btnx{
  color: white !important;
  width: 100px !important;
  height: 20px !important;
  margin: 0px 2px;
  font-size: 10px;
  line-height: initial;
}
.btnx_desaprobado{
  background-color: red !important;
}
.btnx_pendiente{
  background-color: #ff9d00 !important;
}
.btnx_enviado{
  background-color: black !important;
}
