/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Sora', sans-serif !important;}
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Sora'
);

@include angular-material-typography($custom-typography);

:root{
  --font_Primario:'Sora', sans-serif;
  --colorPrimary: #02303e;
  --colorPrimaryLight: #97d3ea;
  --colorSecondary: #8A837B;
  --colorSecondaryLight: #F8F8F8;
  --colorSecondary-200: #e5e5e5;
  --sizeButon: 16px;
}

.toolbar-bg{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  place-content: center;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
